@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

.container {
  background-color: black;
}
.container-all{
  background-color: black;
}

.container-drag{
  background-color: black;
}

.card {
  height: 19rem;
  width: 11rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  border-color: black;
}

.card > img {
  border-top-left-radius: 0.50rem;
  border-top-right-radius: 0.50rem;
  height: 13rem;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Noto Sans SC', sans-serif;
}

drag-scroll {
  height: 20rem;
  width: 100%;
}

.main-title {
  margin-top: 0,5rem;
  font-family: 'Noto Sans SC', sans-serif;
  text-transform: capitalize;
  text-align: left;
  color: white;
}

.main-title {
  margin-top: 0,5rem;
  font-family: 'Noto Sans SC', sans-serif;
  text-transform: capitalize;
  text-align: left;
  color: white;
}

.container-card{
  display: grid;
  margin-left: auto;
  margin-right: auto;

}
.card-img-left{
  border-top-left-radius: 0.50rem;
  border-top-right-radius: 0.50rem;
  height: 20rem;
}

.label {
  vertical-align:middle;
}

.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
	position: fixed;
	top: 100px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
  text-align: center;
}


.btn-circle:hover {
	background-color: rgb(27, 135, 84); /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
